@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #cfcfcf !important;
    border-radius: 5px !important;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

*{
    box-sizing: border-box;
    font-family: 'Inter';
}

.f-container{
    width: 100%;
    max-width: 1300px;
} 

.el-radio-group {
    margin-right: 12px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* table{
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212b36;
    text-align: center;
    vertical-align: middle;
    border: 0;
    border-collapse: collapse;
} */
.label-size label {
    font-size: 0.75rem !important;
    margin-bottom: 12px !important;
    line-height: 22px !important;
    text-wrap: nowrap;
}

.el-select {
    width: 100%;

}